<html>
    <head>
    <link href="/css/style.css" rel="stylesheet">
    <link rel="icon" href="/img/weather.png">
    </head>
    <body>
    <div class="main-content">
        {{>header}}
        <h1>{{helptext}}</h1>
        </div>
        {{>footer}}
    </body>
</html>